################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.1
/.vs/VMRI
/obj
/scss/bootstrap_old
/package.json
/package-lock.json
/data/1.5T
/data/1t
/data/3t
/data/NV_1_NV_1_5T
/data/NV_1_NV_1T
/data/QMCI
/data/3Dircadb2.2.nii